
<div class="list_main_container">
    
    <div class="list_top_nav">
        <ul class="list_ul">
            <li>Home</li>
            <li>New Bucket List</li>
        </ul>
    </div>

    <div class="list_mobile_top_nav">
        <div class="hamburger"><i class="fa fa-chevron-circle-down" aria-hidden="true" id="bars"></i></div>
    </div>

<br/>


<input type="text" ng-model="listItem" placeholder="Add to your bucket list" class="list_input"/>

<div class = "list_bttn">
    <p ng-click="addToList(listItem)">Add</p>
</div>


<div class="list_container">
<ul>
    <li ng-repeat="item in items" list-dir id="list_items_decor">{{item}}</li>
</ul>
</div>

</div>