<div class="insp-main-container">

    
    <!--/////////////////////////////DESKTOP NAVIGATION////////////////////////////-->
    <div class="insp_top_nav">
        <ul class="insp_ul">
            <li class="insp_title">Inspiration<li>
            <li ui-sref="home">Home</li>
            <li> | </li>
            <li ui-sref="list">Bucket List</li>
        </ul>
    </div>

<!--////////////////////////////////MOBILE NAVIGATION//////////////////////////////////////////////-->

    <div class="insp_mobile_top_nav">
        <div class="insp_hamburger" ng-click = 'menu()'><i class="fa fa-chevron-circle-down" aria-hidden="true" id="insp_bars"></i></div>
        <div id="insp_drop_down" ng-show = 'show'>
            <a class ="insp_home" ui-sref="home">Home</a>
            <a class = "insp_list" ui-sref="list">Bucket List</a>
        </div>
    
    </div>



<div class="pic_container">
    <!--//////////////////////PHONE/////////////////////////////////////////////////////-->
    <div class="pic" ng-repeat='picture in pictures'>
        <img ng-src='{{picture.urls.thumb}}'>
    </div>
<!--//////////////////////DESKTOP////////////////////////////////////////////////-->
    <div class="pic-big" ng-repeat='picture in pictures'>
        <img ng-src='{{picture.urls.regular}}'>
    </div>

</div>

</div>